<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear tareas</title>
</head>
<body>
    <h1>Agregar tarea a: <span>{{ proyecto.nombre }}</span></h1>

    <form method="post">
    {% csrf_token %}
    <div class="space-y-1.5">
        <label for="titulo">Título de la tarea</label>
        <input type="text" name="titulo" id="titulo" placeholder="Ej. Diseñar base de datos"
        required>
    </div>

    <div class="space-y-1.5">
        <label for="prioridad">Prioridad</label>
        <select name="prioridad" id="prioridad">
            {% for valor, etiqueta in prioridad_choise %}
                <option value="{{ valor }}" {% if valor == 'MEDIA' %} selected {% endif %}>
                    {{ etiqueta }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="space-y-1.5">
        <label for="estado">Estado</label>
        <select name="estado" id="estado">
            {% for valor, etiqueta in estado_choise %}
                <option value="{{ valor }}" {% if valor == 'PENDIENTE' %} selected {% endif %}>
                    {{ etiqueta }}
                </option>
            {% endfor %}
        </select>
    </div>

    <button type="submit">Guardar</button>
    </form>
</body>
</html>